*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/app/build
/**/build
/**.class
/captures
.externalNativeBuild
/.gitignore
/**/build
/projectFilesBackup
/readboywearmanager
/.idea
*.patch